.contact_content{
  display: grid;
  grid-auto-flow: row;
  left:5%;
  top:15%;
  position: relative;
}

#lbl_contactTitle{
  color: #ffffff;
  width: 80%;
  padding: 20px;

}

#lbl_contact {
  color: #ffffff;
  font-size: 15px;
  text-align: left;
  width: 80%;
  position:absolute;
  /* left: 10%;
  top: 15%; */
}


@media (max-width: 550px) {
  .contact_content {
    width: 90%;
  }

  #lbl_contactTitle,
  #lbl_contact {
    width: 90%;
    position: relative;
    padding:0;
    display: block;
  }

  #lbl_contactTitle,#lbl_contact{

  }
}
