#body_container{
  width: 100%;
  display: flex;
  justify-content: center;
}
#flx_giftContainer{
  position: absolute;
  height: 230px;
  width: 1000px;
  top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
}


.border_topBottom::before,
.border_topBottom::after{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  height: 2px; /* Set the height of the lines */
  background-color: #8c7979; /* Set the color of the lines */
}

.border_topBottom::before{
  top:0;
}

.border_topBottom::after{
  bottom: 0;;
}


/* #gift_border{
  border-style: solid;
  color: #ffffff;
  width: 1500px;
  height: 200px;
  position: absolute;
} */

#img_gift{
  height: 150px;
  width: 250px;
  border: #ffffff;
  border: 1px;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 0 0 5px 2px #8c7979;
  -moz-box-shadow: 0 0 5px 2px #8c7979;
  box-shadow: 0 0 2px 2px #8c7979;

}

#img_Container{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 150px;
  align-items: center;
}


#gift_description{
  width: 500px;
}

#productNamePrice{
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: flex-end;
  font-size: 20px;

}

#productName, #price{
  width: 250px;
  color: #ffffff;

}
#price{
  text-align: right;
}

#description{
  width: 490px;
  height: 160px;
  border-radius: 5px;
  white-space: pre-wrap;
  overflow-x:hidden;
  position: absolute;
  color:white;
  border: 1px solid #8c7979;
  padding: 5px 5px 0 5px;
  background-color:#655f5f;

}

#btn_addCart, #btn_buy{
  margin: 10px;
  width: 120px;
}

@media (max-width: 550px) {
  #flx_giftContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:auto;
    width: 100%;
    margin: 0;
  }

  #gift_description{
    width: 100%;
  }

  #gift_border {
    max-width: 100%;
  }

  #img_gift {
    max-width: 100%;
  }

  #img_Container {
    flex-direction: column;
    margin: 10px 0 0 0;
  }

  #btn_container {
    max-width: 100%;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  #productNamePrice {
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
  }

  #productName,
  #price {
    width: 100%;
    text-align: center;
    margin: 2px;
  }

  #description {
    width: auto;
    position: inherit;
    margin:20px 10px 0 10px ;
    padding: 10px;
  }

  #btn_addCart,
  #btn_buy {
    max-width: 100%;
  }
}
