body {
  background-color: #0d0c0cd7;
  opacity: 80%;
  /* background-color: #655f5f;
  opacity: 80%; */
  min-height: 90vh;
  position: relative;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

#lbl_holder{

  position: absolute;
  border: none;;
  border-radius: 10px;
  border-color: #bdbdbd;
  height: 90vh;
  width: 100%;
  top: 50px;
  display: flex;
  flex-direction: column;
}

 #chk_container{
  width: 50%;
  font-size: 15px ;
  color: #ffffff;
 }

#flx_agreementAction{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
 #flx_button{
  width: 50%;
  display: flex;
  justify-content: flex-end;
 }

#box_agreementContent{
  background-color: #ffffff;
  width: 1000px;
  height: 700px;
  white-space: pre-wrap;
  overflow-x: hidden;
  padding: 0 0 0 30px;
  border-radius: 5px;
  margin-top: 100px;
}

#ctn_agreement{
  justify-content: center;
  width: 100%;
  height: 75%;
  display: grid;
  grid-auto-flow: row;
  position: absolute;
  /* display: flex;
  flex-direction: row; */
}

span.content {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  white-space: pre-wrap;
  padding-right: 5%;
}

button {
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  border: 5px #bdbdbd;
  width: 100px;
  height: 40px;
  margin: 0 0 0 10px;
}

.button:hover{
  background-color: #ffffff;
  opacity: 100%;
}
.button:active {
  background-color: #d3dad4;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}

.cls_input{
  border-radius: 5px;
  /* box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.2); */
  border: 1px solid #cbb5b5bd;
  font-size: 13px;
  margin: 0 0 15px;
  background-color: transparent;
  color: #ffffff;
  padding-left: 10px;
}

.cls_input:hover{
box-shadow: 0 0 1px 1px rgba(195, 205, 196, 0.628);
}



#txt_loginName{
  width: 209px;
  height: 40px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#btn_login{
  width: 225px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, 50%);
  margin-top: 10px;
}

#lbl_copyright{
  color: #ffffff;
  position: relative;
  top: 25%;
}
footer {
  background-color: #655f5f;
  width: 100%;
  opacity: 80%;
  position: absolute;
  bottom: -100px;
  display: flex;
  justify-content: center;
  height: 40px;
}

h1{
  color: #ffffff;
  text-align: center;
  font-family: 'PT Sans', sans-serif;

}

#img_logo {
  height: 30px;
  width: 40px;
}
#img_cart{
  height: 30px;
  width: 30px;
  right: 3%;
  top: 5px;
  position: absolute;
}

.tbl_menu{
  color: #ffffff;
  font-family: 'PT Sans', sans-serif;
}

#nav_bar{
  background-color:#655f5f;
  position: fixed;
  width: 100%;
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  display: flex;
}

table a:link, a:visited, a:active {
  color: #ffffff;
  text-decoration: none;
}
table a:hover{
  color: #c8bde9;
}

a:link, a:visited, a:active {
  /* color: #cdb3b3; */
}
a:hover{
  color: #c8bde9;
}
/* fix the color of the link for skype and email link */
a:-webkit-any-link {
  color: #ffffff;
}

main{
  min-height: calc(100vh-130px);
}

.menu{
  padding: 5px;
}

#lbl_comeBack{
  top: 40%;
  left: 100px;
  width: 80%;
  color: #ffffff;
  font-size: 20px;
  position: absolute;
  padding-right: 30px;
}

.link_styles{
  padding: 10px;
  color: #ffffff;
  border-radius: 5px;
  background-color: rgba(34, 100, 206, 0.627);
  display: grid;
  grid-auto-flow: column;
  margin: 10px 0 0 10px;
  }

.link_styles:hover{
  /* box-shadow: 0 0 2px 2px rgba(79, 69, 114, 0.627); */
  border-radius: 5px;
  background-color: rgba(34, 100, 206, 0.801);
  }

.fa-bars {
  padding: 5px;
  margin: 10px;
}

  @media (min-width: 550px) {
    nav > .fa-bars {
      display: none;
    }


  }

  @media (max-width: 550px) {
    .tbl_menu {
      display: none;
    }

    .tbl_menu{
      font-size: 10px;
    }

    #nav_bar > table{
      display: grid;
      /* flex-direction: column; */
      grid-auto-flow: column;
    }

    #ctn_agreement, #box_agreementContent{
      width: 95%;
    padding-left: 15px;
    }

    #lbl_comeBack{
      width: auto;
      left: 10%;
    }

  }
