#flx_profile{
  display: flex;
  justify-content: center;
}

#flx_image{
  padding: 10px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 30px;
}
#slt_states{
  width: 150px;
  text-align: center;
}

#usr_data{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 30px;
  justify-content: space-between;
}

#img_profile{
  height: 250px;
  width: 250px;
  border: #ffffff;
  justify-content: center;
  border-radius: 5px;
}

.img_link{
  display: flex;
  justify-content: center;
}

.cls_userData{
  width: 500px;
  height: 40px;
}

.cls_zip, .cls_zip, .cls_state{
  width: 250px;
  height: 40px;

}


.flx_zip{
  display: grid;
  grid-auto-flow:row;

}
.flx_states{
  display: grid;
  grid-auto-flow:row;
  justify-content: flex-end;
}

.flx_zipCodeAndStates{
  display: grid;
  grid-auto-flow: column;
}

#lnk_cancelEdit, #lnk_saveUserData{
  width: 150px;
  display: flex;
  justify-content: center;
  padding-left: 5px;
}

.editContainer{
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-end;
}


label,li{
  color: #ffffff;
}

.cls_userData{
  width: 500px;
  height: 40px;
}

.lst_friend{
  color: #ffffff;
  padding: 30px;
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid #d6cfcfac;
  ;
}

@media (max-width: 550px) {
  #flx_image,
  #usr_data,
  .img_link,
  .cls_userData,
  .cls_zip,
  .cls_state,
  .flx_zip,
  .flx_states,
  .flx_zipCodeAndStates,
  .editContainer,
  .lst_friend {
    width: 90%;
    margin: 0 0 5px 10px;
  }

  .lst_friend{
    width: 77%;
  }

  #usr_data{
    width: 100%;
  }

  #img_profile {
    width: 50%;
    height: auto;
  }

  #flx_image{
    align-items: center;
  }

  #lnk_cancelEdit,
  #lnk_saveUserData {
    width: 100%;
    margin: 10px;
  }

  #flx_profile{
    flex-direction: column;
  }

  #lnk_edit{
    margin: 0px;
  }
}
