

.chat_container{
  width: 100%;
  height: auto;
  display: grid;
  grid-auto-flow: row;
  top:50px;
  position: fixed;
  justify-content: center;
}

.chat_layout{
  display: grid;
  grid-template-columns: 170px 630px;
  grid-template-rows: 850px 40px;
  gap: 5px 10px;
  grid-template-areas:
  "chatRoomContainer chatContentContainer"
  "chatRoomContainer chatInputContainer";
  height: auto;
  font-size: 20px;
  align-items: center;
  color: #ffffff;
  justify-content: space-between;
}

.chatRoomContainer { grid-area: chatRoomContainer; }
.chatContentContainer { grid-area: chatContentContainer; }
.chatInputContainer { grid-area: chatInputContainer; }

.cls_chatbox{
  width: 516px;
  position: relative;
  padding-left: 10px;
  height: 40px;
  margin: 0;
}

.button{
  margin: 0;
  background-color: rgba(34, 100, 206, 0.627);
  color:white;
  box-shadow:  2px 2px 0px rgba(0, 0, 0, 0.2);
  height: 44px;
}

.button:hover{
  background-color: rgba(34, 117, 206, 0.814);
}
.chatRoomContainer ul{
  width: 120px;
  height: 100%;
  text-align: left;
}
.chatRoomContainer p, hr{
  margin: 0
}

.chatRoomContainer hr{
  color:#8c7979;
  opacity: 50%;
}
.chatRoomContainer{
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 2px #8c7979;
  -moz-box-shadow: 0 0 5px 2px #8c7979;
  box-shadow: 0 0 2px 2px #8c7979;
  text-align: center;
  background-color: #00000040;
}

.chatContentContainer{
  -webkit-box-shadow: 0 0 5px 2px #8c7979;
  -moz-box-shadow: 0 0 5px 2px #8c7979;
  box-shadow: 0 0 2px 2px #8c7979;
  height: 100%;
  border-radius: 5px;
  background-color: #00000040;
}

.cls_messages{
  background-color: rgba(34, 100, 206, 0.627);
  width:fit-content;
  border-radius: 5px;
  height: 40px;
  padding: 10px 10px 0 10px;
  margin-left: 10px;

}

.chatInputContainer{
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 2px #8c7979;
  -moz-box-shadow: 0 0 5px 2px #8c7979;
  box-shadow: 0 0 2px 2px #8c7979;
  background-color: #00000040;
}


@media (max-width:800px){

  .chat_layout{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "chatContentContainer"
    "chatInputContainer";
    height: auto;
    font-size: 20px;
    align-items: center;
    color: #ffffff;
    justify-content: space-between;
  }

}
