.flx_cartContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  top: 50px;
  position: fixed;
}
#cartDetail_Container{
  position: relative;
  height: 120px;
  width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#total_container{
  position: relative;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  width: 900px;
  justify-content: flex-end;
  font-size: 20px;
}

#total_container h2, #total_container table{
  width: 50%;
}

.tbl_breakLine{
  border-bottom: 1px solid #8c7979;
}

#tbl_total td{
  width: 50%;
  text-align: right;
  padding-right: 10px;

}

#shipping_container{
  position: relative;
  width: 900px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.flx_cartContainer hr{
  color: #8c7979;
  width: 900px;
  opacity: 60%;
}


#usr_data{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 30px;
  justify-content: space-between;
}
.cls_userData{
  width: 500px;
  height: 40px;
}

#img_gift{
  height: 100px;
  width: 150px;
  border: #ffffff;
  border: 1px;
  border-radius: 10px;
  position: relative;
  -webkit-box-shadow: 0 0 5px 2px #8c7979;
  -moz-box-shadow: 0 0 5px 2px #8c7979;
  box-shadow: 0 0 2px 2px #8c7979;

}

#gift_description{
  display: flex;
  align-items: center;
  color: #ffffff;
  width: auto;
}

#img_Container{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#productName, #price, #lnk_delete, #lbl_totalPrice{
  width: auto;
  color: #ffffff;
  margin: 10px;
}

#lbl_totalPrice{
  text-align: right;
}
#sel_quantity{
  color:#ffffff;
  margin: 10px;
  width: 30%;
}

#productNamePrice{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px;
  width: 700px;
  height: auto;
  font-size: 20px;
  align-items: center;
}

#productName{
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  word-wrap: break-word;
  align-items: center;
}


.flx_states{
  display: flex;
  flex-direction: column;
}

.editContainer{
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-end;
}
.flx_zipCodeAndStates{
  display: grid;
  grid-auto-flow: column;
}

.cls_zip, .cls_zip, .cls_state{
  width: 250px;
  height: 40px;

}

.flx_zip{
  display: grid;
  grid-auto-flow:row;
}

#slt_states{
  width: 150px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #cbb5b5bd;
  font-size: 13px;
  background-color: transparent;
  color: #ffffff;
}

#lnk_cancelEdit, #lnk_saveUserData{
  width: 150px;
  display: flex;
  justify-content: center;
  padding-left: 5px;
}

@media (max-width: 820px) {
  #flx_image,
  #usr_data,
  .img_link,
  .cls_userData,
  .editContainer,
  .lst_friend {
    width: 90%;
    margin: 0 0 5px 10px;
  }

  #gift_description{
    width: 90%;
  }

  #lnk_cancelEdit, #lnk_saveUserData{
    width: auto;
  }
  .cls_userData{
    font-size: 100%;
    height: 20px;
  }
  .flx_cartContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    top: 50px;
    position: fixed;
  }

  #productNamePrice{
    font-size: 13px;
    width: 100%;
    grid-template-rows:20px;
  }
  #img_gift{
    height: 50px;
    width: 100px;
  }
  #img_Container{
    width: 100px;
  }

  #cartDetail_Container{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #productName{
    text-align: center;
  }
  #total_container{
    position: relative;
    display: flex;
    flex-direction: row;
    color: #ffffff;
    width: 90%;
    justify-content: flex-end;
    font-size: 13px;
  }

  #shipping_container{
    width: 90%;
    font-size: 13px;
  }

  #tbl_total tr{
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
  }

  .flx_cartContainer hr{
    width: 90%;
  }
  .cls_zip{
    height: 20px;
    width: 50%;
    margin: 0 0 5px 10px;
  }

  #slt_states{
    height: 25px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #cbb5b5bd;
    font-size: 13px;
    background-color: transparent;
    color: #ffffff;
  }

  #sel_quantity{
    width: 50%;
  }

  }
